.traffic_light {
    height: 50px;
    width: 50px;
    background-color: #4b5059;
    margin: 10px;
    border-radius: 50px;
}

.trafic_light_container {
    background-color: #1f1d41;
    border-radius: 30px;
    margin: 30px;
}

.light_btn {
    width: fit-contet;
    background-color: #1f1d41;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

.light_btn_container {

    border-radius: 30px;
    margin: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.btns {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
}

#button1 {
    background-color: #e0e0e0;
}

#button2 {
    background-color: #6fcf97;
}

#button3 {
    background-color: #56ccf2;
}

#button4 {
    background-color: #bb6bd9;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.season-image {
    width: 100%;
    height: 85vh;
}

.button {
    color: white;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 14px;
    width: 80px;
    height: 32px;
    border-width: 0;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.spring-button {
    background-color: #3a7333;
}

.summer-button {
    background-color: #e0bb00;
}

.autumn-button {
    background-color: #b04400;
}

.winter-button {
    background-color: #0f7cb6;
}




@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.tip-calculator-container {
    background-color: #f9fbfe;
}

.tip-calculator-image {
    width: 100%;
}

.tip-calculator-heading {
    color: #264fa2;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 500;
}

.input-label {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: bold;
}

.user-input {
    height: 40px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd2d9;
    border-radius: 4px;
    padding-left: 12px;
}

.calculate-tip-button {
    background-color: #264fa2;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 4px;
}

.error-message {
    color: #cf1124;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.button-maker-bg-container {
    background-image: linear-gradient(to right, #09203f, #537895);
}

.button-maker-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.button-maker-container {
    border-radius: 10px;
}

.input-label {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
}

.user-input {
    width: 100%;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd2d9;
    border-radius: 4px;
    padding-left: 12px;
}

.custom-button {
    font-family: "Roboto";
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.instruction {
    font-family: "Open Sans";
}

.button {
    color: white;
    background-color: #0967d2;
    width: 150px;
    height: 40px;
    border-width: 0;
    border-radius: 25px;
    margin: 15px;
}

.bg-container {
    height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.image {
    width: 360px;
    height: 280px;
}

.bg-container {
    background-color: #f5f7fa;
}

.number {
    color: #323f4b;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-width: 8px;
    border-color: #e4e7eb;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.operator {
    color: #c4c4c4;
    font-family: "Roboto";
    font-size: 40px;
}

.user-input {
    text-align: center;
    color: #323f4b;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    width: 142px;
    height: 60px;
    border-style: solid;
    border-width: 8px;
    border-color: #e4e7eb;
    border-radius: 12px;
    margin: 20px;
}

.game-result {
    color: #ffffff;
    background-color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #f5f7fa;
}

.sizing-an-image-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 500;
}

.sizing-an-image-description {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.warning-message {
    color: #cf1124;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}

.image-width {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;

}

.buttons-container {
    background-color: white;
    width: 140px;
}

.button {
    color: #323f4b;
    background-color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    width: 35%;
    height: 50px;
    border-width: 0;

}

.button:hover {
    transform: matrix();
    animation-timing-function: ease;
    transition-duration: 2s;
    background-color: grey;

}

.hr-line {
    background-color: black;
    width: 1px;
    height: 20px;
}

.width-in-px {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.puppy-image {
    width: 100%;
}

.like-icon {
    color: #cbd2d9;
    font-size: 40px;
}

.like-button {
    color: #9aa5b1;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-width: 0;
    border-radius: 8px;
}